.close-side-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  width: var(--spacing-xl);
  height: var(--spacing-xl);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-side-menu__lines {
  width: var(--spacing-lg);
  height: var(--spacing-lg);
  position: relative;
}

.close-side-menu__line {
  position: absolute;
  background-color: var(--color-text);
  height: 3px;
  border-radius: var(--border-radius-rounded);

  &:nth-of-type(1) {
    width: calc(100% * var(--sqrt-2));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:nth-of-type(2) {
    width: calc(33% * var(--sqrt-2));
    left: -1.5px;
    bottom: 3px;
    transform: rotate(-45deg);
  }

  &:nth-of-type(3) {
    width: calc(33% * var(--sqrt-2));
    right: -1.5px;
    top: 2.5px;
    transform: rotate(-45deg);
  }
}
