@use "./constants.scss" as *;

@mixin media-mobile {
  @media (max-width: calc($break-sm - 1px)) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: $break-sm) and (max-width: calc($break-lg - 1px)) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: $break-lg) {
    @content;
  }
}

@mixin hover {
  @media (pointer: fine) and (hover: hover) {
    @content;
  }
}

@mixin custom-scrollbar($type: vertical) {
  &::-webkit-scrollbar {
    @if ($type == vertical) {
      width: 6px;
    } @else {
      height: 6px;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-tertiary-3);
    border-radius: var(--border-radius-rounded);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-5);
    border: 2px solid transparent;
    border-radius: var(--border-radius-rounded);
    background-clip: content-box;
  }
}
