@use "@/sass/mixins" as *;

.section {
  padding: var(--padding-xxxl) 0;

  @include media-desktop {
    padding: calc(var(--padding-xxxl) * 3) 0;
  }
}

.section__title {
  margin-bottom: var(--margin-xxxl);

  @include media-tablet {
    padding: 0 calc(var(--padding-xxxl) * 1.5);
  }

  @include media-desktop {
    padding: 0 calc(var(--padding-xxxl) * 5);
    margin-bottom: calc(var(--margin-xxxl) * 2);
  }
}

.section__title_right {
  text-align: end;
}
