@use "@/sass/mixins.scss" as *;

.price-table-container {
  display: flex;
  justify-content: center;
}

.price-table-wrapper {
  overflow-x: auto;

  @include custom-scrollbar(horizontal);
}

.price-table {
  color: var(--table-text-color);
  font-size: var(--font-size-md);
  line-height: var(--line-height-lg);
  border-collapse: collapse;
  transition: opacity 0.2s ease;

  @include media-tablet {
    font-size: var(--font-size-lg);
  }

  @include media-desktop {
    font-size: var(--font-size-lg);
  }
}

.price-table_stale {
  opacity: 0.3;
}

.cell_last-col-in-group {
  padding-right: var(--table-gap);
}

.cell_last-row-in-group {
  padding-bottom: var(--table-gap);
}

.cell-content-wrapper {
  background-color: var(--table-cell-background-color);
}

.cell-content-wrapper_first-in-group {
  padding-left: var(--table-padding);
}

.cell-content-wrapper_last-in-group {
  padding-right: var(--table-padding);
}

.cell-content-wrapper_top-left,
.cell_group-name_top-left {
  border-top-left-radius: var(--table-border-radius);
}

.cell-content-wrapper_top-right {
  border-top-right-radius: var(--table-border-radius);
}

.cell-content-wrapper_bottom-left,
.cell_group-name_bottom-left {
  border-bottom-left-radius: var(--table-border-radius);
}

.cell-content-wrapper_bottom-right {
  border-bottom-right-radius: var(--table-border-radius);
}

.cell-content-wrapper_last-col {
  background-color: var(--table-cell-background-color-accent);
}

.cell-content-wrapper_last-row {
  padding-bottom: var(--table-padding);
}

.cell-content {
  padding: var(--table-padding);
  padding-bottom: 0;
  border-bottom: var(--table-cell-divider);
  text-align: start;
  text-wrap: nowrap;
}

.cell_group-name {
  height: 1px;

  & > .cell-content-wrapper {
    height: 100%;
  }
}

.price-list-table__error {
  font-size: var(--font-size-md);
  line-height: var(--line-height-lg);
  color: var(--color-error-5);

  @include media-tablet {
    font-size: var(--font-size-lg);
  }

  @include media-desktop {
    font-size: var(--font-size-xxl);
  }
}
