@use "@/sass/mixins.scss" as *;

.icon-button {
  width: var(--icon-size);
  height: var(--icon-size);
  padding: var(--icon-padding);
  border-radius: var(--border-radius-rounded);
  transition: var(--transition-default);

  &:disabled {
    opacity: 0.5;
  }

  @include hover {
    &:hover:not(:disabled) {
      background-color: var(--icon-hover-background-color);
    }

    &:active:not(:disabled) {
      background-color: var(--icon-active-background-color);
    }
  }
}

.icon-button__icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
