@use "@/app/styles/mixins.scss" as *;

.contact {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);

  @include media-desktop {
    gap: var(--gap-md);
  }
}

.contact__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-lg);
  height: var(--size-lg);
  flex-shrink: 0;

  stroke: currentColor;
  fill: currentColor;
}

.contact__label {
  @include visually-hidden;
}

.contact__text {
  @include media-desktop {
    font-size: var(--font-size-md);
  }
}
