@use "@/sass/mixins.scss" as *;

.sort-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.sort-buttons__buttons {
  display: flex;
  gap: var(--gap-md);

  @include media-desktop {
    gap: var(--gap-lg);
  }
}

.sort-buttons__status {
  @include visually-hidden;
}
