@use "@/app/styles/mixins.scss" as *;

.sort-button {
  --icon-width: 8px;
  --icon-height: 24px;
  --icon-offset-x: 8px;

  position: relative;
  padding: var(--form-control-padding);
  padding-left: calc(var(--icon-offset-x) * 3 + var(--icon-width));
  padding-right: calc(var(--icon-offset-x) * 3 + var(--icon-width));
  border: var(--form-control-border);
  border-radius: var(--border-radius-sm);
  transition: var(--transition-default);

  &:focus-visible {
    outline: none;
    background-color: var(--form-control-focus-background-color);
    box-shadow: var(--form-control-shadow);
  }

  &:disabled {
    opacity: var(--form-control-disabled-opacity);
  }

  @include hover {
    &:hover:not(:disabled) {
      background-color: var(--form-control-hover-background-color);
    }
  }
}

.sort-button_active {
  background-color: var(--form-control-focus-background-color);
}

.sort-button__icon {
  position: absolute;
  right: var(--icon-offset-x);
  top: calc(50% - var(--icon-height) / 2);

  width: var(--icon-width);
  height: var(--icon-height);

  display: none;
  align-items: center;
  justify-content: center;

  stroke: currentColor;

  transition: var(--transition-default);
}

.sort-button__icon_asc {
  display: flex;
  transform: scaleY(1);
}

.sort-button__icon_desc {
  display: flex;
  transform: scaleY(-1);
}
