@use "@/sass/mixins.scss" as *;

.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: var(--padding-sm) var(--padding-lg);
  border-radius: var(--border-radius-rounded);
  background-color: var(--color-primary-2);
  color: var(--color-text);
  font-size: var(--font-size-md);
  font-weight: bold;
  transition: var(--transition-default);

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-shadow-form-control);
  }

  &:disabled {
    opacity: 0.5;
  }

  @include hover {
    &:hover:not(:disabled) {
      background-color: var(--color-primary-3);
    }

    &:active:not(:disabled) {
      background-color: var(--color-primary-1);
    }
  }

  @include media-tablet {
    padding: var(--padding-sm) var(--padding-xxl);
    font-size: var(--font-size-lg);
  }

  @include media-desktop {
    padding: var(--padding-md) calc(var(--padding-xxxl) * 1.5);
    font-size: var(--font-size-xl);
  }
}
