@use "@/sass/mixins.scss" as *;

.price-list-content {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-xxxl);

  @include media-tablet {
    row-gap: calc(var(--gap-xxxl) * 2);
  }

  @include media-desktop {
    row-gap: calc(var(--gap-xxxl) * 2);
  }
}
