@use "@/sass/mixins.scss" as *;

.logo-container {
  width: 100%;
  height: 100%;
}

.logo-container_light {
  fill: var(--color-white);
}

.logo-container_adaptive {
  fill: var(--color-text);
}

.logo-link {
  display: block;
  width: 100%;
  height: 100%;
}
