@use "@/app/styles/mixins.scss" as *;

.textarea {
  width: 100%;
  padding: var(--form-control-padding);
  background-color: var(--form-control-background-color);
  border: var(--form-control-border);
  border-radius: var(--border-radius-lg);
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  scrollbar-width: none;
  corner-bottom-right-shape: scoop;

  &:focus-visible {
    outline: none;
    background-color: var(--form-control-focus-background-color);
    box-shadow: var(--form-control-shadow);
  }

  &:disabled {
    opacity: var(--form-control-disabled-opacity);
  }

  &::placeholder {
    color: var(--form-control-placeholder-color);
  }

  @include hover {
    &:hover:not(:disabled) {
      background-color: var(--form-control-hover-background-color);
    }
  }
}

.textarea_invalid {
  border-color: var(--form-control-error-border-color);
  background-color: var(--form-control-error-background-color);

  &:focus-visible {
    box-shadow: var(--form-control-error-shadow);
    background-color: var(--form-control-error-hover-background-color);
  }

  &::placeholder {
    color: var(--form-control-error-placeholder-color);
  }

  @include hover {
    &:hover:not(:disabled) {
      background-color: var(--form-control-error-hover-background-color);
    }
  }
}
