@use "@/sass/mixins" as *;

.hero-container {
  position: relative;
  padding: 0;
  overflow-x: hidden;
  margin-bottom: calc(var(--margin-xxxl) * 1.5);
}

.hero-image {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 100%;
  border-radius: 0 var(--border-radius-xl) var(--border-radius-xl) 0;
  z-index: -100;
}

.hero__section {
  padding-top: calc(var(--padding-xxxl) + var(--header-height));

  @include media-desktop {
    padding-top: calc(var(--padding-xxxl) + var(--header-height));
  }
}

.hero__section-filled {
  display: grid;
  grid-template-rows: 1fr auto auto;

  @include media-tablet {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: none;
  }

  @include media-desktop {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: none;
  }
}

.hero__title {
  font-size: 40px;

  @include media-tablet {
    font-size: 50px;
  }

  @include media-desktop {
    font-size: 70px;
  }
}

.hero__divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-divider);
  margin: var(--margin-xxxl) 0;

  @include media-tablet {
    width: 1px;
    height: 100%;
    margin: 0 var(--margin-xl);
  }

  @include media-desktop {
    width: 1px;
    height: 100%;
    margin: 0 var(--margin-xxxl);
  }
}

.hero__price {
  font-size: var(--font-size-lg);
  margin-top: var(--margin-sm);
  color: var(--color-secondary-3);

  @include media-tablet {
    font-size: var(--font-size-xl);
    margin-top: var(--margin-lg);
  }

  @include media-desktop {
    font-size: var(--font-size-xxxl);
    margin-top: var(--margin-lg);
  }
}

.hero__button {
  margin-top: var(--margin-lg);

  @include media-desktop {
    margin-top: var(--margin-xxxl);
  }
}

.hero__right {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);

  @include media-desktop {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}

.hero__image-aside {
  max-width: 100%;
  border-radius: var(--border-radius-default);
}

.hero__image-aside_1 {
  grid-column: 6 / 9;
  grid-row: 5 / 8;

  @include media-desktop {
    grid-column: 7 / 11;
    grid-row: 1 / 6;
  }
}

.hero__image-aside_2 {
  grid-column: 8 / 11;
  grid-row: 1 / 4;

  @include media-desktop {
    grid-column: 1 / 5;
    grid-row: 3 / 8;
  }
}

.hero__image-aside_3 {
  grid-column: 1 / 4;
  grid-row: 3 / 7;

  @include media-desktop {
    grid-column: 6 / 10;
    grid-row: 6 / 10;
  }
}

:root[data-theme="dark"] {
  .hero__price {
    color: var(--color-secondary-8);
  }
}
